@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/*------------reset.css end-----------*/

/*전체_배경*/
.all-bg {
  max-width: 1600px;
  margin: auto;
  color: white;
}
/*첫번쨰_배경*/
.one-bg {
  background: linear-gradient(#5d98d8, #5260ba);
  /* height: 500px; */
  position: relative;
  padding: 100px;
  padding-top: 400px;
}
.one-txt {
  width: 410px;
  margin-top: -300px;
}
.one-txt .txt {
  width: 100%;
}
.one-txt .txt h1 {
  font-weight: 500;
  font-size: 1.8rem;
}
p {
  margin-top: 15px;
  font-size: 0.9rem;
}
.btn {
  display: inline-block;
  margin-top: 15px;
}
.btn a {
  overflow: hidden;
  display: inline-block;
  background-color: #444445;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: all 0.2s linear 0s;
}
.one-bg .btn a {
  width: 145px;
}
.two-bg btn a {
  width: 175px;
}
.btn a:before {
  content: "→";
  color: transparent;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear 0s;
}
.btn a:hover {
  text-indent: -999px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn a:hover:before {
  top: 0;
  text-indent: 0;
  color: white;
}
.one-img {
  width: 380px;
  position: absolute;
  right: 140px;
  bottom: 0;
}
.one-img img {
  width: 100%;
}
/*두번쨰_배경*/
.two-bg {
  background-color: white;
  color: black;
  padding: 70px 0;
}
.two-txt {
  text-align: center;
}
.two-txt .txt strong {
  font-size: 1.1rem;
}
/*세번쨰_배경*/
.three-bg {
  background-color: #5260ba;
  padding: 60px 0 80px;
}
.three-txt {
  text-align: center;
  width: 960px;
  margin: auto;
}
.topic h2 {
  font-size: 0.8rem;
  font-weight: lighter;
}
.topic strong {
  font-size: 1.3rem;
}
.icon-container {
  margin-top: 60px;
}
.icon-item {
  display: inline-block;
  width: 240px;
  margin-left: -5.1px;
}
.icon-bg {
  margin-left: 70px;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #5260ba;
  padding-top: 28px;
  padding-left: 3px;
  box-sizing: border-box;
}
.icon-bg i {
  font-size: 2.8rem;
}
.icon-item h3 {
  margin-top: 15px;
  font-weight: normal;
  font-size: 1.2rem;
}
.icon-item p {
  margin-top: 8px;
  font-weight: lighter;
  font-size: 1rem;
  opacity: 0.7;
}
/*네번쨰_배경*/
.four-bg {
  color: black;
  padding: 60px;
}
.four-txt {
  text-align: center;
}
.box-container {
  margin: 60px auto;
}
.box-bg {
  width: 700px;
  height: 410px;
  display: inline-block;
  margin-left: -5.3px;
  position: relative;
}
.box-bg:hover .box_hover {
  border: 30px solid white;
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.125, 0.625, 0.155, 0.94);
}
.box-bg:nth-of-type(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/portfolio-1.jpg") no-repeat left top;
}
.box-bg:nth-of-type(2) {
  background: url("../images/portfolio-2.jpg") no-repeat left center;
}
.box-bg:nth-of-type(3) {
  background: url("../images/portfolio-3.jpg") no-repeat right bottom;
}
.box-bg:nth-of-type(4) {
  background: url("../images/portfolio-4.jpg") no-repeat right top;
}
.box_hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.box-txt {
  color: white;
  width: 100%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 80px 60px;
}
.box-txt h3 {
  font-size: 1.4rem;
  font-weight: normal;
}
.box-txt p {
  font-size: 1rem;
  margin-top: 35px;
  font-weight: lighter;
}
/*마지막_배경*/
.last-bg {
  padding-bottom: 80px;
}
.sns-items {
  text-align: center;
}
.sns-icon {
  display: inline-block;
  margin: 0 15px;
  background-color: #5260ba;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding-top: 25px;
  box-sizing: border-box;
  text-align: center;
  transition: background 1s;
}
.sns-icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  margin-top: -25px;
}
.sns-icon i {
  font-size: 1.5rem;
}
.sns-icon:hover {
  background-color: rgba(84, 97, 187, 0.502);
  box-shadow: 0px 0px 3px rgb(84, 97, 187);
}
.address {
  color: black;
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .one-bg {
    padding-bottom: 0;
  }
  .one-txt {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .one-txt .btn {
    padding-left: 0;
  }
  .one-img {
    position: static;
    margin: 30px auto;
    width: 300px;
  }
  .one-bg .btn a {
    width: 100px;
  }
  .two-bg .btn a {
    width: 130px;
  }
  /*세번쨰_배경*/
  .three-txt {
    width: auto;
  }
  .icon-container {
    width: 80%;
    margin: auto;
  }
  .icon-item {
    display: inline-block;
    width: 50%;
    margin-top: 50px;
  }
  .icon-bg {
    padding-left: 2px;
    margin: auto;
    width: 90px;
    height: 90px;
  }
  .icon-bg i {
    font-size: 2.2rem;
  }
  /*네번쨰_배경*/
  .four-bg {
    padding: 60px 0;
  }
  .box-bg {
    max-width: 700px;
    width: 100%;
  }
  /*마지막_배경*/
  .sns-icon {
    width: 60px;
    height: 60px;
    padding-top: 21px;
  }
  .sns-icon i {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  /*첫번쨰_배경*/
  .one-bg {
    width: auto;
    height: 100%;
    padding: 30px;
    padding-bottom: 0;
    margin: 0;
  }
  .one-txt {
    width: 100%;
    margin-top: 0px;
    padding-top: 100px;
  }
  .btn {
    display: inline-block;
    margin-top: 15px;
  }
  .one-img {
    width: 190px;
    position: static;
  }
  .one-img img {
    width: 100%;
  }
  /*두번째_배경*/
  .two-bg {
    padding: 30px;
  }
  /*세번쨰_배경*/
  .three-txt {
    width: auto;
  }
  .icon-container {
    width: 240px;
    margin-top: 60px;
  }
  .icon-item {
    width: 100%;
    margin-top: 40px;
  }
  .icon-item:nth-of-type(1) {
    margin-top: 0;
  }
  .icon-bg {
    width: 60px;
    height: 60px;
    margin-left: 85px;
    padding-top: 17px;
  }
  .icon-bg i {
    font-size: 1.6rem;
  }
  /*네번째_배경*/
  .four-bg {
    padding: 60px 0;
  }
  .box-container {
    margin: 60px 0;
  }
  .box-bg {
    width: 100%; /*width: 700px*/
  }
  .box-bg:nth-of-type(1) {
    background-size: cover;
  }
  .box-bg:nth-of-type(2) {
    background-size: cover;
  }
  .box-bg:nth-of-type(3) {
    background-size: cover;
  }
  .box-bg:nth-of-type(4) {
    background-size: cover;
  }
  .sns-icon {
    width: 50px;
    height: 50px;
    padding-top: 13px;
    margin: 0 10px;
  }
  .sns-icon i {
    font-size: 1rem;
  }
}
